@mixin styleContainer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


@mixin styleButton {
    background-color: #09C2DD;
    border-color: #09C2DD;

    color: white;
    padding: 10px 15px;

    font-weight: 700;
}


@mixin styleButtonHover{
    background-color: #fff;
    border-color:#fff;

    color: black;
    padding: 10px 15px;

    font-weight: 700;
}

@mixin styleButtonLight{
    background-color: transparent;
    border-color:#fff;

    color: white;
    padding: 10px 15px;

    // border-radius: 15px;

    font-weight: 700;
}

@mixin styleButtonLightHover{
    background-color: #222625;
    border-color:#222625;

    color: white;
    padding: 10px 15px;

    font-weight: 700;
}